mat-card {
  width: 80%;
  margin: auto;
}

mat-form-field,
text-area {
  width: 100%;
}

button {
  margin-top: 25px;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5em;
  margin: 1em 0;
  img {
    height: 100%;
  }
}
