:host {
  display: block;
  margin: 1em;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1em;
}

.post-image {
  width: 100%;
  img {
    width: 100%;
  }
}
